:root {
  /* Colours */
  --light-grey: #f2f2f2;
  --dark: #272727;

  --wrapper-max-width: 1880px;
  --gutter: var(--space-m-l);

  /* Fluid Typography Scale */
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.25,1240,20,1.25,9,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.64rem, 0.5843rem + 0.2783vw, 0.8rem);
  --step--1: clamp(0.8rem, 0.7304rem + 0.3478vw, 1rem);
  --step-0: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
  --step-1: clamp(1.25rem, 1.1413rem + 0.5435vw, 1.5625rem);
  --step-2: clamp(1.5625rem, 1.4266rem + 0.6793vw, 1.9531rem);
  --step-3: clamp(1.9531rem, 1.7833rem + 0.8492vw, 2.4414rem);
  --step-4: clamp(2.4414rem, 2.2291rem + 1.0615vw, 3.0518rem);
  --step-5: clamp(3.0518rem, 2.7864rem + 1.3269vw, 3.8147rem);
  --step-6: clamp(3.8147rem, 3.483rem + 1.6586vw, 4.7684rem);
  --step-7: clamp(4.7684rem, 4.3537rem + 2.0732vw, 5.9605rem);
  --step-8: clamp(5.9605rem, 5.4422rem + 2.5915vw, 7.4506rem);
  --step-9: clamp(7.4506rem, 6.8027rem + 3.2394vw, 9.3132rem);

  /* Fluid Spacing Scale */
  /* @link https://utopia.fyi/space/calculator?c=320,16,1.25,1240,20,1.25,9,2,&s=0.75|0.5|0.25,2|4|6|8|20,s-l&g=s,l,xl,12 */

  --space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4565rem + 0.2174vw, 0.625rem);
  --space-xs: clamp(0.75rem, 0.6848rem + 0.3261vw, 0.9375rem);
  --space-s: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
  --space-m: clamp(2rem, 1.8261rem + 0.8696vw, 2.5rem);
  --space-l: clamp(4rem, 3.6522rem + 1.7391vw, 5rem);
  --space-xl: clamp(6rem, 5.4783rem + 2.6087vw, 7.5rem);
  --space-2xl: clamp(8rem, 7.3043rem + 3.4783vw, 10rem);
  --space-3xl: clamp(20rem, 18.2609rem + 8.6957vw, 25rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1196rem + 0.6522vw, 0.625rem);
  --space-2xs-xs: clamp(0.5rem, 0.3478rem + 0.7609vw, 0.9375rem);
  --space-xs-s: clamp(0.75rem, 0.5761rem + 0.8696vw, 1.25rem);
  --space-s-m: clamp(1rem, 0.4783rem + 2.6087vw, 2.5rem);
  --space-m-l: clamp(2rem, 0.9565rem + 5.2174vw, 5rem);
  --space-l-xl: clamp(4rem, 2.7826rem + 6.087vw, 7.5rem);
  --space-xl-2xl: clamp(6rem, 4.6087rem + 6.9565vw, 10rem);
  --space-2xl-3xl: clamp(8rem, 2.087rem + 29.5652vw, 25rem);

  /* Custom pairs */
  --space-s-l: clamp(1rem, -0.3913rem + 6.9565vw, 5rem);
}

body {
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
}

main {
  background: var(--light-grey);
  color: var(--dark);
  font-size: var(--step-0);
}

h1,
h2 {
  font-family: "DM Serif Display", serif;
}

h1 {
  font-size: var(--step-7);
}

h2 {
  font-size: var(--step-2);
}

button,
.callout p {
  font-family: "DM Serif Text", serif;
}
