:root {
  /* Colours */
  --light-grey: #f2f2f2;
  --mid-grey: #e5e4e4;
  --grey: #7d7d7d;
  --dark-grey: #525252;
  --dark: #272727;

  --transition-base: 250ms ease;
  --transition-movement: 200ms linear;
  --transition-fade: 300ms ease;
  --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
  --radius-s: 0.2rem;
  --radius-m: 0.75rem;
  --radius-l: 2.5rem;
  --uppercase-kerning: 0.04ch;
  --stroke: 1px solid var(--dark);

  --wrapper-max-width: 1880px;
  --gutter: var(--space-s-xl);
  --section-space: var(--space-2xl-3xl);

  /* -- Fluid Typography Scale -- */
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.25,1240,20,1.25,9,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --size-step--2: clamp(0.64rem, 0.5843rem + 0.2783vw, 0.8rem);
  --size-step--1: clamp(0.8rem, 0.7304rem + 0.3478vw, 1rem);
  --size-step-0: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
  --size-step-1: clamp(1.25rem, 1.1413rem + 0.5435vw, 1.5625rem);
  --size-step-2: clamp(1.5625rem, 1.4266rem + 0.6793vw, 1.9531rem);
  --size-step-3: clamp(1.9531rem, 1.7833rem + 0.8492vw, 2.4414rem);
  --size-step-4: clamp(2.4414rem, 2.2291rem + 1.0615vw, 3.0518rem);
  --size-step-5: clamp(3.0518rem, 2.7864rem + 1.3269vw, 3.8147rem);
  --size-step-6: clamp(3.8147rem, 3.483rem + 1.6586vw, 4.7684rem);
  --size-step-7: clamp(4.7684rem, 4.3537rem + 2.0732vw, 5.9605rem);
  --size-step-8: clamp(5.9605rem, 5.4422rem + 2.5915vw, 7.4506rem);
  --size-step-9: clamp(7.4506rem, 6.8027rem + 3.2394vw, 9.3132rem);

  /* -- Font Weights -- */
  --font-normal: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-black: 900;

  /* -- Leading -- */
  --leading-micro: 0.85;
  --leading-flat: 1;
  --leading-fine: 1.2;
  --leading-standard: 1.4;
  --leading-loose: 1.7;

  /* -- Fluid Spacing Scale -- */
  /* @link https://utopia.fyi/space/calculator?c=320,16,1.25,1240,20,1.25,9,2,&s=0.75|0.25,1.5|2|3|4|6,s-l|s-xl&g=s,l,xl,12 */

  --space-2xs: clamp(0.25rem, 0.2283rem + 0.1087vw, 0.3125rem);
  --space-xs: clamp(0.75rem, 0.6848rem + 0.3261vw, 0.9375rem);
  --space-s: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
  --space-m: clamp(1.5rem, 1.3696rem + 0.6522vw, 1.875rem);
  --space-l: clamp(2rem, 1.8261rem + 0.8696vw, 2.5rem);
  --space-xl: clamp(3rem, 2.7391rem + 1.3043vw, 3.75rem);
  --space-2xl: clamp(4rem, 3.6522rem + 1.7391vw, 5rem);
  --space-3xl: clamp(6rem, 5.4783rem + 2.6087vw, 7.5rem);

  /* One-up pairs */
  --space-2xs-xs: clamp(0.25rem, 0.0109rem + 1.1957vw, 0.9375rem);
  --space-xs-s: clamp(0.75rem, 0.5761rem + 0.8696vw, 1.25rem);
  --space-s-m: clamp(1rem, 0.6957rem + 1.5217vw, 1.875rem);
  --space-m-l: clamp(1.5rem, 1.1522rem + 1.7391vw, 2.5rem);
  --space-l-xl: clamp(2rem, 1.3913rem + 3.0435vw, 3.75rem);
  --space-xl-2xl: clamp(3rem, 2.3043rem + 3.4783vw, 5rem);
  --space-2xl-3xl: clamp(4rem, 2.7826rem + 6.087vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1rem, 0.4783rem + 2.6087vw, 2.5rem);
  --space-s-xl: clamp(1rem, 0.0435rem + 4.7826vw, 3.75rem);
}

body {
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
  background: var(--light-grey);
}

main {
  color: var(--dark);
  font-size: var(--size-step-0);
  line-height: var(--leading-standard);
  --flow-space: var(--space-2xl);
}

section {
  margin-bottom: var(--section-space);
}

:is(h1, h2, h3, h4) {
  line-height: var(--leading-fine);
  text-wrap: balance;
}

h1 {
  font-size: var(--size-step-6);
  max-width: 20ch;
}

h2 {
  font-size: var(--size-step-3);
  max-width: 35ch;
}

h3 {
  font-size: var(--size-step-1);
  max-width: 35ch;
}

:is(h4, h5, h6) {
  font-size: var(--size-step-1);
}

h1,
h2 {
  font-family: "DM Serif Display", serif;
}

blockquote q {
  font-family: "DM Serif Text", serif;
  font-size: var(--size-step-0);
  font-style: normal;
}

blockquote {
  padding-inline-start: 1em;
  border-inline-start: 0.15em solid;
  margin-inline: 0;
}

blockquote footer {
  margin-block-start: var(--space-2xs);
  font-size: var(--size-step-0);
}

ul,
ol {
  padding-inline-start: 1em;
}

ul:not([class]) {
  /*padding-inline-start: 1.7ch;*/
  list-style-type: disc;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

ul:not([class]) > li {
  padding-inline-start: var(--space-2xs);
}

:is(ol, ul):not([class]) li + * {
  margin-block-start: var(--flow-space, var(--space-2xs));
}

ul ::marker {
  font-size: 0.8lh;
}

ol ::marker {
  font-size: 1em;
  font-weight: var(--font-bold);
}

/* Lists with classes and roles will be out of standard flow, so remove the default spacing */
[role="list"][class],
[role="tablist"][class] {
  margin-block: 0;
  padding: 0;
}

:is(video, iframe[src*="youtube"], iframe[src*="vimeo"]) {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

figcaption {
  padding-block-start: 0.5em;
  font-size: var(--size-step-0);
  font-family: monospace;
}

a:not([class]):hover {
  text-underline-offset: 0.2lh;
}

:is(h1, h2, h3, h4) a:not([class]) {
  text-decoration-thickness: 0.1ex;
  text-underline-offset: 0.2ex;
}

:is(h1, h2, h3, h4) a:not([class]):hover {
  text-underline-offset: 0.3ex;
}

:focus {
  outline: none;
}

:focus-visible {
  outline: 2px solid var(--focus-color, currentColor);
  outline-offset: var(--focus-offset, 0.2lh);
}

/* Firefox is the only browser that doesn't outline the whole element unless you make it display: inline-block. That in itself causes multiple flow issues so we can detect it, using its own vendor prefix and reduce focus offset
*/
@supports (-moz-appearance: none) {
  :root {
    --focus-offset: 0.08em;
  }
}

:target {
  scroll-margin-block: 5lh;
}

/* Text Highlight Styles */
::selection {
  color: var(--light-grey);
  background: var(--dark);
}

hr {
  border: none;
  border-block-start: var(--grey) 1px solid;
  margin-block: var(--flow-space, var(--space-xl));
}

svg:not([class]) {
  width: auto;
  height: 1lh;
}

svg {
  flex-shrink: 0;
}

svg[role="img"][width][height] {
  width: revert;
  height: revert;
  background: var(--color-light);
  padding: var(--space-xs);
}

table {
  border: var(--stroke);
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
  font-weight: var(--font-bold);
  line-height: var(--leading-fine);
}

thead th {
  padding-block: var(--space-s);
}

td,
th {
  padding: var(--space-xs) var(--space-s);
}

th:not(:only-of-type) {
  border-block-end: var(--stroke);
}

th:only-of-type {
  border-inline-end: var(--stroke);
}

:is(th, td) ~ :is(th, td) {
  border-inline-start: var(--stroke);
}

tr + tr :is(th, td) {
  border-block-start: var(--stroke);
}

caption {
  caption-side: bottom;
  margin-block-start: var(--space-s);
}

/* There's a .flow composition, but this prevents forms from having to have that applied where markup is harder to control in certain systems. It still uses the --flow-space variables though to make managing space easier */
form > * + * {
  margin-top: var(--flow-space, 1rem);
}

form > *:not(input[type="hidden"]) + * {
  margin-top: var(--flow-space, 1rem);
}

:is(input, select, textarea) {
  accent-color: var(--dark);
}

:is(
  input:not([type="checkbox"], [type="radio"], [type="color"]),
  select,
  textarea
) {
  padding: 0.5em 0.8em;
  border-radius: var(--radius-s, 0);
  border: var(--stroke-solid, 1px solid);
  background: var(--dark);
  color: var(--light-grey);
  width: 100%;

  &::placeholder {
    color: var(--mid-grey);
  }
}

label {
  line-height: var(--leading-fine);
  font-weight: var(--font-medium);
}

label::after {
  content: "\A";
  white-space: pre;
}

/* Usually label wraps checkbox and radio buttons, so we give ourselves more layout and text-flow control with flex */
label:has(input) {
  display: flex;
  align-items: baseline;
  gap: var(--space-s);
  font-weight: var(--font-normal);
}

label:has(input) + label:has(input) {
  --flow-space: var(--space-s-m);
}

/* Slightly adjusts the vertical position of the check/radio */
label:has(input) input {
  transform: translateY(-0.1ex);
}

input:disabled {
  background: var(--color-mid);
}

input:disabled,
label input:disabled + * {
  cursor: not-allowed;
}

fieldset {
  border: var(--stroke);
  padding: var(--space-s);
}

legend {
  font-weight: var(--font-medium);
  padding-inline: var(--space-xs);
}

summary {
  font-weight: var(--font-bold);
  cursor: pointer;
}

details[open] summary {
  margin-block-end: var(--space-s);
}
