:root {
  --wrapper-max-width: 1880px;
  --gutter: 4rem;

  /* @link https://utopia.fyi/type/calculator?c=320,16,1.25,1240,20,1.25,9,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --step--2: clamp(0.64rem, 0.5843rem + 0.2783vw, 0.8rem);
  --step--1: clamp(0.8rem, 0.7304rem + 0.3478vw, 1rem);
  --step-0: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
  --step-1: clamp(1.25rem, 1.1413rem + 0.5435vw, 1.5625rem);
  --step-2: clamp(1.5625rem, 1.4266rem + 0.6793vw, 1.9531rem);
  --step-3: clamp(1.9531rem, 1.7833rem + 0.8492vw, 2.4414rem);
  --step-4: clamp(2.4414rem, 2.2291rem + 1.0615vw, 3.0518rem);
  --step-5: clamp(3.0518rem, 2.7864rem + 1.3269vw, 3.8147rem);
  --step-6: clamp(3.8147rem, 3.483rem + 1.6586vw, 4.7684rem);
  --step-7: clamp(4.7684rem, 4.3537rem + 2.0732vw, 5.9605rem);
  --step-8: clamp(5.9605rem, 5.4422rem + 2.5915vw, 7.4506rem);
  --step-9: clamp(7.4506rem, 6.8027rem + 3.2394vw, 9.3132rem);
}

body {
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
}

h1,
h2 {
  font-family: "DM Serif Display", serif;
}

h1 {
  font-size: var(--step-7);
}

button,
.callout p {
  font-family: "DM Serif Text", serif;
}
