<footer class="site-foot">
  <div class="wrapper footer-content">
    <!-- <button class="button" data-button-variant="dark-footer">
          Get Concert Updates
        </button> -->
    <p>info@nuronmukumi.com</p>
    <p class="footer-header">Nuron Mukumi</p>
    <div class="repel">
      <ul class="cluster" role="list">
      {% for link in homePage.footerLinks %}
        <li>
          <a href="{{ link.url }}" target="_blank">
            {{ link.text }}
          </a>
        </li>
      {% endfor %}
      </ul>
      <p>© Nuron Mukumi 2026</p>
    </div>
  </div>
</footer>
